@using gdocerous.Code
@using System.Reflection

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | gdocerous</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7178740-3']);
        _gaq.push(['_setDomainName', '.gdocerous.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body class="@ViewBag.bodyclass">
    <div id="header">
        <a href="@Url.Action("Index")"><img id="logo" src="@Url.Content("~/Content/images/logo.png")" alt="gdocerous" title="gdocerous" /></a>
        <h2>@ViewBag.Title</h2>
        @if (ViewBag.IsValidSession != null && ViewBag.IsValidSession)
        { 
            <h4>@Html.ActionLink("back to the root", "Folder", new { folder = ""})</h4>
        } 
    </div>

    <div id="body">
        @RenderBody()
    </div>

    <div id="footer">
        <span id="copy">&copy; 2011 michiel overeem</span>
        <span id="version">build @Assembly.GetAssembly(typeof(GoogleDocs)).GetName().Version.ToString()</span>
        <span id="about">@Html.ActionLink("about", "About")</span>
        <span id="code"><a href="https://github.com/overeemm/gdocerous">code</a></span>
        <span id="blog"><a href="http://blog.movereem.nl/">blog</a></span>
    </div>
</body>
</html>
